@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Nunito");
.product-app {
  display: flex;
  flex-direction: column;
  height: 3800px; }
  .product-app h2 {
    font-family: "Merriweather", serif;
    color: white;
    font-size: 32px;
    border-bottom: solid 5px black;
    width: 75%;
    display: flex;
    flex-flow: row;
    justify-content: center; }
  .product-app h3 {
    font-family: "Nunito", sans-serif;
    color: #8E372C;
    font-size: 22px;
    width: 75%;
    display: flex;
    flex-flow: row;
    justify-content: center; }
  .product-app .product-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .product-app .product-display .product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: solid #3D0016;
      border-width: 7px;
      height: 700px;
      width: 500px;
      margin: 5px;
      background-color: #BA8480;
      font-family: "Playfair Display", serif;
      font-size: 30px;
      color: white;
      padding: 5px;
      border-radius: 7px; }
      .product-app .product-display .product .product-image {
        height: 300px;
        width: 300px;
        border: solid #F0DBCC;
        border-radius: 10px;
        border-width: 5px;
        box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }
      .product-app .product-display .product .prod-button {
        height: 90px;
        font-size: 20px;
        font-family: "Dosis", sans-serif;
        background-color: #32402f;
        color: #F0DBCC;
        border: solid 5px #4f0000;
        border-radius: 7px; }
