@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Dosis');


.product-image {
    height: 200px;
    width: 200px;
    border: solid;
    border-color: plum;
    border-radius: 10px;
    border-width: 5px;
}

.product-app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: row;
    border: solid;
    border-color: rgba(0, 0, 128, 0.74);
    border-width: 7px;
    background-color: rgba(36, 186, 157, 0.83);
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: white;
    height: 220px;
    width: 90%;
    margin: 5px;
}

.prod-button{
    height: 90px;
    font-size: 20px;
    color: #4BD5D6;
    background-color: rgba(73, 38, 86, 0.83);
    border: solid;
    border-color: white;
    border-radius: 7px;
    font-family: 'Dosis', sans-serif;
}

.product-display{
    display: flex;
    flex-direction: column;
    align-items: center;
}