.cart-app{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: $pageTopMargin;
    .title{
        font-family: $componentTitleFontFamily;
        color: $componentTitleFontColor;;
        font-size: 32px;
        border-bottom: $pageTitleBorder;
        width: 75%;
        padding-left: 15%;
        padding-top: 3px;
        padding-bottom: 3px;
     }
     .sub{
        font-family: $componentSubtitleFontFamily;
        color: $componentSubtitleFontColor;
        font-size: 22px;
        display: flex;
        flex-flow: row;
        padding-left: 20%;
        padding-top: 5px;
        padding-bottom: 3px;
    }
    .cart-map{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $mapMargin;
        .product:hover{
            box-shadow: $cartHoverShadow;
        }
        .product{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            // border: $productDisplayBorder;
            // border-width: $productDisplayBorderWidth;
            height: $cartDisplayHeight;
            width: $cartDisplayWidth;
            margin: $cartProductMargin;
            background-color: $productBackgroundColor;
            font-family: $productFontFamily;
            font-size: $productFontSize;
            color: $productFontColor;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: $productDisplayBorderRadius;
            box-shadow: $cartProductShadow;
            .product-image{
                height: $cartImageHeight;
                width: $cartImageWidth;
                border: $productImageBorder;
                border-width: $productImageBorderWidth;
                border-radius: $productImageBorderRadius;
                box-shadow: $imageShadow;
            }
            .prod-button{
                height: $productButtonHeight;
                font-size: $productButtonFontSize;
                font-family: $productButtonFontFamily;
                background-color: $productButtonColor;
                color: $productButtonFontColor;
                border: $productButtonBorder;
                border-radius: $productButtonBorderRadius;
            } 
        }
    }
    .order-button{
        margin: auto;
        height: 300px;
        a{
            button{
                margin-top: 90px;
                height: $productButtonHeight;
                width: 200px;
                font-family: $productButtonFontFamily;
                font-size: 30px;
                border: $checkoutButtonBorder;
                border-radius: $productButtonBorderRadius;
                border-width: $checkoutButtonBorderWidth;
                background-color: $checkoutButtonColor;
                color: $checkoutButtonFontColor;
                box-shadow: $checkoutButtonShadow;
            }
        }
    }
}