.header{
    position: sticky;
    top: 0px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $headerBorder;
    border-left-width: $headerLRBorderWidth;
    border-right-width: $headerLRBorderWidth;
    border-top-width: $headerBTBorderWidth;
    border-bottom-width: $headerBTBorderWidth;
    background-color: $headerBackgroundColor;
    .title {
        color: $titleColor;
        font-size: 30px;
        margin: 5px;
    }
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .Links{
        text-align: center;
        font-family: $linkFontFamily;
        border: $linkBorder;
        border-radius: $linkBorderRadius;
        width: $linkWidth;
        font-size: $linkFontSize;
        background-color: $linkBackgroundColor;
        text-decoration: none;
        color: $componentTitleFontColor;
    }
}
}