.header{
    position: sticky;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: $headerBorder;
    // border-left-width: $headerLRBorderWidth;
    // border-right-width: $headerLRBorderWidth;
    // border-top-width: $headerBTBorderWidth;
    border-bottom-width: $headerBTBorderWidth;
    background-color: $headerBackgroundColor;
    .title {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        color: $titleColor;
        font-size: 30px;
        margin: 5px;
        .icon{
            border-radius: 7px;
            margin-right: 3px;
            height: 50px;
            width: 50px;
        }
    }
    .navbar {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        .Links{
            border: $linkBorder;
            border-radius: $linkBorderRadius;
            padding: 5px;
            width: $linkWidth;
            background-color: $linkBackgroundColor;
            margin-left: 5px;
            margin-right: 5px;
            .pages{
                text-align: center;
                text-decoration: none;
                color: $componentTitleFontColor;
                font-size: $linkFontSize;
                font-family: $linkFontFamily;
        }
    }
}
}