.orders-app{
    display: flex;
    flex-direction: column;
    margin-top: $pageTopMargin;
    .title{
        font-family: $componentTitleFontFamily;
        color: $componentTitleFontColor;
        font-size: 32px;
        border-bottom: $pageTitleBorder;
        width: 75%;
        padding-left: 15%;
        padding-top: 3px;
        padding-bottom: 3px;
     }
    .sub{
        font-family: $componentSubtitleFontFamily;
        color: $componentSubtitleFontColor;
        font-size: 22px;
        display: flex;
        flex-flow: row;
        padding-left: 20%;
        padding-top: 5px;
        padding-bottom: 3px;
    }
    .orders-map{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $mapMargin;
        .product{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border: $productDisplayBorder;
            border-width: $productDisplayBorderWidth;
            height: $cartDisplayHeight;
            width: $cartDisplayWidth;
            margin: $cartProductMargin;
            background-color: $productBackgroundColor;
            font-family: $productFontFamily;
            font-size: $productFontSize;
            color: $productFontColor;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: $productDisplayBorderRadius;
            .product-image{
                height: $cartImageHeight;
                width: $cartImageWidth;
                border: $productImageBorder;
                border-radius: $productImageBorderRadius;
                border-width: $productImageBorderWidth;
                box-shadow: $imageShadow;
            }
        }
    }
}