@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Nunito");
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid #039292;
  border-left-width: 8px;
  border-right-width: 8px;
  border-top-width: 12px;
  border-bottom-width: 12px;
  background-color: #F0DBCC; }
  .header .Links {
    font-family: "Inconsolata", monospace;
    border: solid #3D0016;
    border-radius: 12px;
    width: 100px;
    font-size: 19px;
    background-color: #BA8480;
    text-decoration: none;
    color: #F4F4F4; }
