@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
// new ^
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
//new ^
@import url('https://fonts.googleapis.com/css?family=Nunito');
//new ^

// products Variables
$productImageHeight: 300px;
$productImageWidth: 300px;
$productImageBorder: solid 5px #EB6E80;
$productImageBorderWidth: 5px;
$productImageBorderRadius: 10px;
$productDisplayBorder: solid #008F95;
$productDisplayBorderWidth: 7px;
$productDisplayHeight: 700px;
$productDisplayWidth: 450px;
$productFontFamily: 'Nunito Sans', sans-serif;
$productFontSize: 30px;
$productFontColor: white;
$productLTMargin: 7px;
$productBRMargin: 15px;
$productBackgroundColor: #008F95;
$productButtonColor: white;
$productButtonFontFamily: 'Dosis', sans-serif;
$productButtonFontColor: #E24E42;
$productButtonFontSize: 20px;
$productButtonHeight: 90px;
$productButtonBorder: solid 5px rgba(226, 79, 66, 0.89);
$productButtonBorderRadius: 7px;
$productDisplayBorderRadius: 7px;
$productDisplayPaddingLR: 20px;

//about Variables
$aboutTitleFontColor: #008F95;
$aboutJoinFontColor: #E24E42;

//cart Variables
$checkoutButtonColor: white;
$checkoutButtonFontColor: #E9B000;
$checkoutButtonBorder: solid rgba(233, 175, 0, 0.76);
$checkoutButtonBorderWidth: 7px;
$cartFontColor: #F0DBCC;
$cartDisplayHeight: 220px;
$cartDisplayWidth: 90%;
$cartImageHeight: 200px;
$cartImageWidth: 200px;
$cartImageBorder: solid rgb(3, 146, 146);
$cartProductMargin: 7px;

//header Variables
$headerBorder: solid rgb(3, 146, 146);
$headerBackgroundColor: #F0DBCC;
$linkFontSize: 20px;
$linkFontColor: #F4F4F4;
$linkBackgroundColor: #EB6E80;
$linkBorder: solid 5px #E24E42;
$linkBorderRadius: 12px;
$linkWidth: 100px;
$linkFontFamily: 'Inconsolata', monospace;
$titleColor: #008F95;

//components Variables
$appBackgroundColor: #F4F4F4;
$componentTitleFontColor: #e24e42;
$componentTitleFontFamily: 'Montserrat', sans-serif;
$componentSubtitleFontFamily: 'Nunito', sans-serif;
$componentSubtitleFontColor: #333;
$pageTitleBorder: solid 5px #E9B000;
$mapMargin: 10px;
$pageTopMargin: 10px;

//landing Variables
$landingBackgroundImage: url('./images/landing2.jpg') no-repeat center center fixed;  
$landingBackgroundColor: #008F95;
$landingTitleColor: #333;
$landingButtonBorder: solid 5px #EB6E80;
$landingButtonFontColor: #EB6E80;
$landingButtonFontSize: 30px;


//shadows
$imageShadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
$shopProductShadow: 0 10px 16px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
$productHoverShadow: 0 20px 32px 0 rgba(39, 32, 32, 0.479);
$cartProductShadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25);
$cartHoverShadow: 0 12px 30px 0 rgba(39, 32, 32, 0.479);
$checkoutButtonShadow: 3px 5px 0 0 rgba(58, 56, 56, 0.541);