@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: #320f92;
  text-decoration: none; }

.App {
  background-color: #F4F4F4;
  height: 100%; }

.cart-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px; }
  .cart-app .title {
    font-family: "Montserrat", sans-serif;
    color: #e24e42;
    font-size: 32px;
    border-bottom: solid 5px #E9B000;
    width: 75%;
    padding-left: 15%;
    padding-top: 3px;
    padding-bottom: 3px; }
  .cart-app .sub {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 3px; }
  .cart-app .cart-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .cart-app .cart-map .product:hover {
      box-shadow: 0 12px 30px 0 rgba(39, 32, 32, 0.479); }
    .cart-app .cart-map .product {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 220px;
      width: 90%;
      margin: 7px;
      background-color: #008F95;
      font-family: "Nunito Sans", sans-serif;
      font-size: 30px;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 7px;
      box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25); }
      .cart-app .cart-map .product .product-image {
        height: 200px;
        width: 200px;
        border: solid 5px #EB6E80;
        border-width: 5px;
        border-radius: 10px;
        box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }
      .cart-app .cart-map .product .prod-button {
        height: 90px;
        font-size: 20px;
        font-family: "Dosis", sans-serif;
        background-color: white;
        color: #E24E42;
        border: solid 5px rgba(226, 79, 66, 0.89);
        border-radius: 7px; }
  .cart-app .order-button {
    margin: auto;
    height: 300px; }
    .cart-app .order-button a button {
      margin-top: 90px;
      height: 90px;
      width: 200px;
      font-family: "Dosis", sans-serif;
      font-size: 30px;
      border: solid rgba(233, 175, 0, 0.76);
      border-radius: 7px;
      border-width: 7px;
      background-color: white;
      color: #E9B000;
      box-shadow: 3px 5px 0 0 rgba(58, 56, 56, 0.541); }

.header {
  position: sticky;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid #039292;
  background-color: #F0DBCC; }
  .header .title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 5px; }
    .header .title .icon {
      border-radius: 7px;
      margin-right: 3px;
      height: 50px;
      width: 50px; }
    .header .title .app-title {
      margin-left: 5px;
      color: #008F95;
      font-size: 30px; }
  .header .navbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
    .header .navbar .Links {
      border: solid 5px #E24E42;
      border-radius: 12px;
      padding: 5px;
      width: 100px;
      background-color: #EB6E80;
      margin-left: 5px;
      margin-right: 5px; }
      .header .navbar .Links .pages {
        text-align: center;
        text-decoration: none;
        color: #F4F4F4;
        font-size: 20px;
        font-family: "Inconsolata", monospace; }

.orders-app {
  display: flex;
  flex-direction: column;
  margin-top: 10px; }
  .orders-app .title {
    font-family: "Montserrat", sans-serif;
    color: #e24e42;
    font-size: 32px;
    border-bottom: solid 5px #E9B000;
    width: 75%;
    padding-left: 15%;
    padding-top: 3px;
    padding-bottom: 3px; }
  .orders-app .sub {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 3px; }
  .orders-app .orders-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .orders-app .orders-map .product {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: solid #008F95;
      border-width: 7px;
      height: 220px;
      width: 90%;
      margin: 7px;
      background-color: #008F95;
      font-family: "Nunito Sans", sans-serif;
      font-size: 30px;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 7px; }
      .orders-app .orders-map .product .product-image {
        height: 200px;
        width: 200px;
        border: solid 5px #EB6E80;
        border-radius: 10px;
        border-width: 5px;
        box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }

.product-app {
  display: flex;
  flex-direction: column;
  height: 3800px;
  margin-top: 10px; }
  .product-app .title {
    font-family: "Montserrat", sans-serif;
    color: #e24e42;
    font-size: 32px;
    border-bottom: solid 5px #E9B000;
    width: 75%;
    padding-left: 15%;
    padding-top: 3px;
    padding-bottom: 3px; }
  .product-app .sub {
    font-family: "Nunito", sans-serif;
    color: #333;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 3px; }
  .product-app .shop {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    align-content: stretch; }
    .product-app .shop .product-display {
      width: 70%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      margin: 10px; }
      .product-app .shop .product-display .product:hover {
        box-shadow: 0 20px 32px 0 rgba(39, 32, 32, 0.479); }
      .product-app .shop .product-display .product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 700px;
        width: 450px;
        margin-left: 7px;
        margin-top: 7px;
        margin-bottom: 15px;
        margin-right: 15px;
        background-color: #008F95;
        font-family: "Nunito Sans", sans-serif;
        font-size: 30px;
        color: white;
        padding: 7px;
        border-radius: 7px;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }
        .product-app .shop .product-display .product .product-image {
          height: 300px;
          width: 300px;
          border: solid 5px #EB6E80;
          border-radius: 10px;
          box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }
        .product-app .shop .product-display .product .prod-button {
          height: 90px;
          font-size: 20px;
          font-family: "Dosis", sans-serif;
          background-color: white;
          color: #E24E42;
          border: solid 5px rgba(226, 79, 66, 0.89);
          border-radius: 7px; }
    .product-app .shop .about {
      position: sticky;
      top: 25%;
      right: 50px;
      margin-left: 30px;
      width: 230px;
      height: 300px;
      border-left: solid 5px #9c9696;
      border-bottom: solid 5px #9c9696;
      padding-left: 10px;
      padding-right: 10px; }
      .product-app .shop .about .abt-shop {
        position: relative;
        left: 0px;
        top: 10%;
        text-align: left;
        font-size: 25px;
        font-family: "Inconsolata", monospace;
        color: #008F95; }
      .product-app .shop .about .join {
        position: relative;
        top: 15%;
        padding-bottom: 3px;
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        color: #E24E42; }
      .product-app .shop .about .descript {
        text-align: justify;
        position: absolute;
        bottom: 25%;
        padding-top: 5px;
        color: #333;
        font-size: 18px; }
