@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: #320f92;
  text-decoration: none; }

.App {
  background-color: #788F82; }

.cart-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px; }
  .cart-app h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 32px;
    border-bottom: solid 5px black;
    width: 75%;
    display: flex;
    flex-flow: row;
    padding-top: 3px;
    padding-bottom: 3px; }
  .cart-app h3 {
    font-family: "Nunito", sans-serif;
    color: #8E372C;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 3px; }
  .cart-app .cart-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .cart-app .cart-map .product {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: solid #3D0016;
      border-width: 7px;
      height: 220px;
      width: 90%;
      margin: 5px;
      background-color: #BA8480;
      font-family: "Nunito Sans", sans-serif;
      font-size: 30px;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 7px; }
      .cart-app .cart-map .product .product-image {
        height: 200px;
        width: 200px;
        border: solid #039292;
        border-radius: 10px;
        border-width: 5px;
        box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }
      .cart-app .cart-map .product .prod-button {
        height: 90px;
        font-size: 20px;
        font-family: "Dosis", sans-serif;
        background-color: #32402f;
        color: #F0DBCC;
        border: solid 5px #4f0000;
        border-radius: 7px; }
  .cart-app .order-button {
    margin: auto;
    height: 300px; }
    .cart-app .order-button a button {
      margin-top: 90px;
      height: 90px;
      width: 200px;
      font-family: "Dosis", sans-serif;
      font-size: 30px;
      border: solid #32402f;
      border-radius: 7px;
      border-width: 7px;
      background-color: #FFD1CF;
      color: #4f0000; }

.header {
  position: sticky;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid #039292;
  background-color: #F0DBCC; }
  .header .title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #718b7c;
    font-size: 30px;
    margin: 5px; }
    .header .title .icon {
      border-radius: 7px;
      margin-right: 3px;
      height: 50px;
      width: 50px; }
  .header .navbar {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
    .header .navbar .Links {
      border: solid #3D0016;
      border-radius: 12px;
      padding: 5px;
      width: 100px;
      background-color: #BA8480;
      margin-left: 5px;
      margin-right: 5px; }
      .header .navbar .Links .pages {
        text-align: center;
        text-decoration: none;
        color: #F4F4F4;
        font-size: 20px;
        font-family: "Inconsolata", monospace; }

.orders-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px; }
  .orders-app h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 32px;
    border-bottom: solid 5px black;
    width: 75%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px; }
  .orders-app h3 {
    font-family: "Nunito", sans-serif;
    color: #8E372C;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 3px; }
  .orders-app .orders-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .orders-app .orders-map .product {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border: solid 10px #32402f;
      border-width: 7px;
      height: 220px;
      width: 90%;
      margin: 5px;
      background-color: #BA8480;
      font-family: "Nunito Sans", sans-serif;
      font-size: 30px;
      color: white;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 7px; }
      .orders-app .orders-map .product .product-image {
        height: 200px;
        width: 200px;
        border: solid #F0DBCC;
        border-radius: 10px;
        border-width: 5px;
        box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }

.product-app {
  display: flex;
  flex-direction: column;
  height: 3800px;
  margin-top: 10px; }
  .product-app h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 32px;
    border-bottom: solid 5px black;
    width: 75%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px; }
  .product-app h3 {
    font-family: "Nunito", sans-serif;
    color: #8E372C;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 3px; }
  .product-app .product-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px; }
    .product-app .product-display .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: solid #3D0016;
      border-width: 7px;
      height: 700px;
      width: 500px;
      margin: 5px;
      background-color: #BA8480;
      font-family: "Nunito Sans", sans-serif;
      font-size: 30px;
      color: white;
      padding: 7px;
      border-radius: 7px; }
      .product-app .product-display .product .product-image {
        height: 300px;
        width: 300px;
        border: solid #F0DBCC;
        border-radius: 10px;
        border-width: 5px;
        box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26); }
      .product-app .product-display .product .prod-button {
        height: 90px;
        font-size: 20px;
        font-family: "Dosis", sans-serif;
        background-color: #32402f;
        color: #F0DBCC;
        border: solid 5px #4f0000;
        border-radius: 7px; }
